body {
  background: $bgGray;
  overflow-y: scroll;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
