.search {
  width: 460px;
  height: 50px;
  margin-top: 60px;
  padding: 0 12px 0 20px;
  background-color: $white;
  border: 1px solid $lightgreen;
  border-radius: 40px;
  box-shadow: 0px 1px 5px $shadow;
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 550px) {
    width: 85%;
  }

  &__logo {
    height: 22px;
  }
  &__input {
    width: calc(100% - 70px);
    margin-top: 2px;
    font-size: 17px;

    &::placeholder {
      color: $textLightGray;
      font-weight: 500;
    }
  }
  &__mic {
    height: 34px;
  }
}
