@mixin font-face($font-name, $file-name) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.woff2');
    $space-to-hypened-font-name: str-replace($font-name, ' ', '-');
    $removed-space-font-name: str-replace($font-name, ' ', '');
    $font-source: 'local("#{$removed-space-font-name}"), local("#{$font-name}"), local("#{$space-to-hypened-font-name}"), url("#{$file-name}.eot?#iefix") format("embedded-opentype"), url("#{$file-name}.woff2") format("woff2")';
  }
}
